.ldsDualRing {
  width: 4em;
  height: 4em;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
}

.ldsDualRing:after {
  content: ' ';
  display: block;
  width: 3em;
  height: 3em;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #bbb;
  border-color: #bbb transparent #bbb transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
