.background {
  background: no-repeat center center;
  background-image: url(./morelia.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 30em) {
  .background {
    background-attachment: fixed;
  }
}
