@import-normalize;

:root {
  --light-teal: #4cc1c3;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.light-teal {
  color: var(--light-teal);
}
.bg-light-teal {
  background-color: var(--light-teal);
}

.b--light-teal {
  border-color: var(--light-teal);
}
